<!DOCTYPE html>
<html lang="en">
<head>
    <title>行政管理系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/multi-select.css" />
    <link rel="stylesheet" href="css/unicorn.main.css" />
    <link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color" />

    <script src="js/lib/angular.min.js"></script>
</head>
<body ng-app="userDetailApp" ng-controller="userDetailCtl">
<div id="header" ng-include="'head.html'"></div>
<div id="sidebar" ng-include="'sidebar.html'"></div>

<div id="content">
    <div id="content-header">
        <h1>人员信息</h1>
        <div class="btn-group">
            <a class="btn btn-navbar" onclick="javascript:history.back(-1);" style="margin-right: 5px">返回</a>
            <a class="btn btn-danger" ng-click="delete()" style="margin-right: 5px" ng-if='userInfo.role =="admin"'>删除</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>
								</span>
                        <h5>人员信息</h5>
                    </div>
                    <div class="widget-content">
                        <form action="#" method="get" class="form-horizontal" ng-if='userInfo.role !="admin"'>
                            <p class="amount-word">
                                姓名:
                                <span id="displayName">{{user.displayName}}</span>
                            </p>
                            <p class="amount-word">
                                工号:
                                <span id="workNum">{{user.workNum}}</span>
                            </p>
                            <p class="amount-word">
                                角色:
                                <span id="role">{{user.role}}</span>
                            </p>
                            <p class="amount-word">
                                部门:
                                <span><a href="" id="dpm">{{user.departmentName}}</a></span>
                            </p>
                            <p class="amount-word">
                                联系电话:
                                <span><a href="" id="phone">{{user.phone}}</a></span>
                            </p>
                            <p class="amount-word">
                                联系邮箱:
                                <span id="email">{{user.email}}</span>
                            </p>
                            <p class="amount-word">
                                个性简历
                                <span id="introduce">{{user.history}}</span>
                            </p>
                        </form>
                        <form action="#" method="get" class="form-horizontal" ng-if='userInfo.role =="admin"'>
                            <div class="control-group">
                                <label class="control-label">姓名</label>
                                <div class="controls">
                                    <input id="name" type="text" ng-model="user.displayName"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">身份证号码</label>
                                <div class="controls">
                                    <input id="ID" type="text" ng-model="user.name" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">工号</label>
                                <div class="controls">
                                    <input id="num" type="text" ng-model="user.workNum" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">角色</label>
                                <div class="controls">
                                    <select id="roleSelect">
                                        <option ng-selected='user.role == "admin"' value="admin">企业管理员</option>
                                        <option ng-selected='user.role == "departmentadmin"' value="departmentadmin">企业部门管理员</option>
                                        <option ng-selected='user.role == "materialadmin"' value="materialadmin">企业物资管理员</option>
                                        <option ng-selected='user.role == "normal"' value="normal">普通员工</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">部门</label>
                                <div class="controls">
                                    <select ng-model="projectSelect" id="departmentSelect">
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">联系电话</label>
                                <div class="controls">
                                    <input id="startTime" type="text"  ng-model="user.phone" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">联系邮箱</label>
                                <div class="controls">
                                    <input id="endTime" type="text"  ng-model="user.email" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">个性简历</label>
                                <div class="controls">
                                    <input id="history" type="text"  ng-model="user.history" />
                                </div>
                            </div>
                        </form>
                        <div class="form-actions">
                            <button ng-if='userInfo.role =="admin"' type="submit" class="btn btn-primary" ng-click="update()">更新</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/lib/excanvas.min.js"></script>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/bootstrap-3.3.7.min.js"></script>
<script src="js/lib/jquery.flot.min.js"></script>
<script src="js/lib/jquery.flot.resize.min.js"></script>
<script src="js/lib/jquery.peity.min.js"></script>
<script src="js/lib/jquery-ui.custom.js"></script>
<script src="js/lib/fullcalendar.min.js"></script>
<script src="js/lib/unicorn.js"></script>
<script src="js/lib/unicorn.dashboard.js"></script>
<script src="js/lib/jquery.multi-select.js"></script>
<script src="js/lib/bootstrap-treeview.min.js"></script>
<script src="js/util.js"></script>
<script src="js/user-detail.js"></script>
</body>
</html>
